<div class="player-footer">
    <div class="music-volume">
        <div class="volume">
            <div class="music-current-length"></div>
            <div class="music-current-length-circle">
                <i class="fa-solid fa-volume-low"></i>
            </div>
        </div>
    </div>
    <div class="music-controls">
        <button class="btn-small">
            <i class="fa-solid fa-share-nodes"></i>
        </button>
        <div class="main-control">
            <button class="btn-change  back-btn">
                <i class="fa fa-step-backward"></i>
            </button>

            <button class="btn-play">
                <i class="fa-solid fa-play play-btn"></i>
            </button>

            <button class="btn-change forward-btn">
                <i class="fa fa-step-forward"></i>
            </button>
        </div>
        <button class="btn-small">
            <i class="fa-solid fa-heart"></i>
        </button>
    </div>
</div>