
<div class="player-center">
    <div class="music-info">
        <div class="names">
            <p class="music-name"></p>
            <p class="artist-name"></p>
        </div>
        <div class="heart-btn">
            <i class="fa fa-heart-o heart-icon"></i>
        </div>
    </div>
</div>