<div class="player-header">
    <div class="menu-btn">
        <button>
            <i class="fa-sharp fa-solid fa-repeat"></i>
        </button>
        <button>
            <i class="fa-solid fa-rotate-right"></i>
        </button>
        <button>
            <i class="fa-solid fa-shuffle"></i>
        </button>
    </div>
    <div class="playlist-open-btn">
        <i class="fa-solid fa-bars"></i>
    </div>
</div>