<div class="playlist-header">
    <button class="playlist-close-btn btn-small">
        <img class="back-icon" src="{{ asset('build/images/back.07ab05cb.png') }}" alt="back">
    </button>
    <div class="playlist-center-text">
        <p>Playlist</p>
    </div>
</div>

{% include 'hompage/partials/playlist.html.twig' %}