button {
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.btn-play {
  @include size(50px, 50px);
  border-radius: 25px;
  background-color: #60558f;

  i {
    @include size(16px, 16px);
    font-size: $font-lg;
    color: #ffffff;
  }
}
.btn-change {
  @include size(36px, 36px);
  border-radius: 18px;
  background-color: #60558f;

  i {
    @include size(12px, 12px);
    color: #ffffff;
  }
}

.btn-small {
  @include size(36px, 36px);
  border-radius: 18px;
  background-color: #ffffff;
}

.fa-share-nodes, .fa-heart {
  @include size(12px, 12px);
}

.fa-share-nodes {
  color: #60558f;
}

.fa-heart {
  color: #ed5e74;
}