.menu-btn {
  justify-content: center;
 @include align-center;
  margin: auto;
  padding-left: 25px;
  height: auto;

  button {
    background: none;
    margin-right: 25px;
    border: none;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    i {
      @include size(16px, 16px);
      color: #ffff;
    }
  }
}

.playlist-open-btn {
  cursor: pointer;
  i {
    opacity: 0.302;
    width: 16px;
    height: 13px;
    color: #ffffff;
  }
}