.music-controls {
  @include align-center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px 0 20px;

  .main-control {
    @include align-center;
    justify-content: space-around;
    @include size(60%, 100%);

  }
}