/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease;
}
*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #dfdfe6;
  width: 4px;
  border-radius: 22px;
  height: 70px;

}

body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: $main-color;
  text-rendering: optimizeSpeed;
  font-family: 'Rambla', sans-serif;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.back-icon {
  @include size(16px, 11px);
}



