.player {
  position: relative;
  @include align-center;
  flex-direction: column;
  margin: 40px auto;
  height: 480px;
  max-width: 360px;
  border-radius: 30px;
  color: $main-color;
  overflow: hidden;
}

.music-player {
  position: absolute;
  bottom: 0;
  left: 0;
  @include size(100%, 100%);
  background-color: #eeeff5;

  .player-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    @include size(360px, 65px);
    background-color: rgba(42, 34, 77, 0.6);
    position: absolute;
    z-index: 5;
  }

  .player-center {
    position: relative;
    @include size(100%, 345px);
    overflow: hidden;
    background-color:rgba(84, 66, 130, 0.26);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      z-index: 3;
      background-image: url(/assets/img/cover.png);
    }
  }

  .music-info {
    @include align-center;
    @include size(100%, 65px);
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(42,	34,	77, 0.600);
    z-index: 4;

    .names {
      text-align: center;

      .music-name {
        font-size: $font-lg;
        font-weight: $font-bold;
      }
    }
  }

  .player-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    background-color: #eeeff5;

    .music-volume {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
      position: relative;
      top: -10px;
      z-index: 5;
    }

    .music-volume .volume {
      position: relative;
     @include size(100%, 7px);
      background-color: $main-color;
      cursor: pointer;
    }

    .music-current-length {
      position: absolute;
      top: 50%;
      left: 70%;
      @include size(30%, 8px);
      transform: translate(0%, -50%);
      background-color: #ed5e74;
    }

    .music-current-length-circle {
      position: absolute;
      top: 50%;
      left: 69%;
      transform: translate(0%, -50%);
      @include size(22px, 22px);
      border-radius: 11px;
      background-color: $main-color;
      @include align-center;
      justify-content: center;

      i {
        width: 12px;
        color: #60558f;
      }
    }
  }
}

.music-player.open  {
  display: none;
}