{% extends 'base.html.twig' %}


{% block body %}


<div class="container">


    <div class="player">
        <div class="music-playlist">
            {% include 'hompage/partials/menu.html.twig' %}
        </div>

        <div class="music-player">
            {% include 'hompage/partials/player.html.twig' %}
        </div>
    </div>

</div>
{% endblock %}
